table[class="bandeau"]{
	width: 100%;
	background-color: lightgray;
	color: white;
}
div[class="navbar"]{
	text-align: center;
    margin-left: 3%;
}

.bloc{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 3%;
}

.case1{
	width: 31.2%;
	padding: 0% 1%;
    overflow-wrap: break-word;
}
  
.case2{
	width: 31.2%;
	padding: 0% 1%;
	overflow-wrap: break-word;
}

.case3{
	width: 31.2%;
	padding: 0% 1%;
	overflow-wrap: break-word;
}

.bloc2{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.case4{
	width: 15%;
	border: 5px solid rgb(240, 93, 106);
    overflow-wrap: break-word;
	margin-left: 15%;
}
  
.case5{
	width: 15%;
	border: 5px solid green;
	overflow-wrap: break-word;
}

.case6{
	width: 15%;
	border: 5px solid rgb(71, 141, 255);
	overflow-wrap: break-word;
	margin-right: 15%;
}

.titre1{
	background-image: linear-gradient(30deg,pink,rgb(240, 93, 106));
}

.titre2{
	background-image: linear-gradient(30deg,lightgreen,green);
}

.titre3{
	background-image: linear-gradient(30deg,white, rgb(71, 141, 255));
}

.deconnexion{
	position:relative;
	float: right;
}

button{
	background-color: rgb(240, 93, 106);
	border: none;
	color: black;
	padding: 8px 16px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	opacity: 0.8;
	transition: 0.5s;
}

button:hover{
	opacity: 1;
}

li{
	padding: 10px;
	background-color: lightgray;
	display: inline;
}

a{ 
 text-decoration:none; 
}

#taille1{
	color: lightgray;
	font-size: 500%;
	position:relative;
	float: right;
	padding-right: 50px;
}
#taille2{
	font-size: 250%;
	float: right;
	padding-bottom: 10px;
	margin-right: 50px;
}

.jeune{
	color: rgb(240, 93, 106);
}
.referent{
	color: green;
}
.consultant{
	color: rgb(71, 141, 255);
}
.partenaires{
	color: rgb(90, 93, 95);
} 