.gris{
    background-color: lightgrey;
}
.titre{
    color: darkblue;
    text-align: center;
    font-size: 200%;
}
.image{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.texte{
    color: darkblue;
    text-align: center;
    font-size: 150%;
    display: block;
}
a{ 
    text-decoration:none;
    color: red;
    display: block;
    text-align: center;
    font-size: 200%;
}
.detail{
    text-align: center;
    color: gray;
}