table[class="bandeau"]{
	width: 100%;
	background-color: lightgray;
	color: white;
}

table[class="tableau"]{
	width: 40%;
}

.deconnexion{
	position:relative;
	float: right;
}
button{
	background-color: rgb(240, 93, 106);
	border: none;
	color: black;
	padding: 8px 16px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	opacity: 0.8;
	transition: 0.5s;
	
}
button:hover{
	opacity: 1;
}
input:not([type="button"]):focus{
	border: 1px solid rgb(240, 93, 106);
	background-color: rgba(252, 217, 223, 0.767);
	outline: none;
}
input:not([type="button"]){
	border: 1px solid rgb(240, 93, 106);
}

#message{
	color: red;
}

li{
	padding: 10px;
	background-color: lightgray;
	display: inline;
}
a[class="jeune"]{
	background-color:rgb(240, 93, 106);
	text-decoration:none; 
}
div[class="navbar"]{
	text-align: center;
}
a{ 
 text-decoration:none;
}
td[class="desc"]{
	text-align: center;
}

#taille1{
	color:rgb(240, 93, 106);
	font-size: 500%;
	position:relative;
	float: right;
	padding-right: 50px;
}
#taille2{
	font-size: 250%;
	float: right;
	padding-bottom: 10px;
	margin-right:50px;
}

.jeune{
	color: white;
}
.referent{
	color: green;
}
.consultant{
	color: rgb(71, 141, 255);
}
.partenaires{
	color: rgb(90, 93, 95);
}
.bloc{
	width: 40%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-left: 55%;
}
.case{
	width: 55%;
	border: 1px solid black;
	border-radius: 8%;
	box-shadow: 8px 8px 5px black;
	background-image: linear-gradient(180deg,rgb(240, 93, 106),pink);
	padding: 5% 5%;
}
.case:hover{
	border-radius: 8%;
	box-shadow: 16px 16px 10px black;
	width: 55%;
	font-size: 108%;
	border: 1px solid black;
	background-image: linear-gradient(180deg,rgb(240, 93, 106),pink);
	padding: 4% 4%;
}
  