table[class="bandeau"]{
	width: 100%;
	background-color: lightgray;
	color: white;
}
div[class="navbar"]{
	text-align: center;
}
table{
	border-collapse: collapse;
}
td[class="marge"]{
	padding: 50px;
	border-top-style: solid;
	border-bottom-style: solid;
}
td.marge:nth-child(3n){
	border-left-style: solid;
}
td.marge:first-child{
	border-left-style: solid;
}
td.marge:nth-child(4n){
	border-right-style: solid;
}
td.marge:nth-child(2n){
	border-right-style: solid;
}

.deconnexion{
	position:relative;
	float: right;
}

li[class="navbar"]{
	padding: 10px;
	background-color: lightgray;
	display: inline;
}
li:not([class]){
	padding: 10px;
	display: inline;
}
li[class="nomarginright"]{
	margin-right: 0px;
	display: inline;
}
li[class="nomarginleft"]{
	margin-left: 0px;
	display: inline;
}

a{ 
 text-decoration:none; 
}

li[class="partenaires"]{
	background-color: rgb(90, 93, 95);
}

#taille1{
	color: rgb(90, 93, 95);
	font-size: 500%;
	position:relative;
	float: right;
	padding-right: 50px;
}
#taille2{
	font-size: 250%;
	float: right;
	padding-bottom: 10px;
}

.jeune{
	color: rgb(240, 93, 106);
}
.referent{
	color: green;
}
.consultant{
	color: rgb(71, 141, 255);
}
.partenaires{
	background-color: rgb(90, 93, 95);
	color: white;
}
.center{
	text-align: center;
}
.liste{
	margin-left: 50px;
	text-align: center;
}
.bouton{
	padding: 5px;
}
img{
	height: 222px;
	margin-left: 100px;
}
p{
	text-align: center;
	font-size: 150%;
	color: grey;
} 