table:not(.bandeau){
    padding: 15px;
}
table[class="bandeau"]{
	width: 100%;
	background-color: lightgray;
	color: white;
}

td[colspan="2"]{
	text-align: center;
}


.deconnexion{
	position:relative;
	float: right;
}

li[id="bandeau"]{
	padding: 10px;
	background-color: lightgray;
	display: inline;	
}
ul[id="bandeau"]{
	text-align: center;
    margin-left: 3%;
}
input:not([type="button"]):focus{
	border: none;
	border-bottom: 2px dotted rgb(240, 93, 106);
	outline: none;
}
input:not([type="button"]){
	border: none;
	border-bottom: 2px dotted rgb(240, 93, 106);
}
select{
	background-color: pink;
}
button{
	background-color: rgb(240, 93, 106);
	border: none;
	color: black;
	padding: 8px 16px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	opacity: 0.8;
	transition: 0.5s;
	
}
button:hover{
	opacity: 1;
}

input[type="button"]{
	background-color: rgb(240, 93, 106);
	border: none;
	color: black;
	padding: 8px 16px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	opacity: 0.8;
	transition: 0.5s;
	
}
input[type="button"]:hover{
	opacity: 1;
}

.confirm{
	position: absolute;
	padding: 16px 32px;
	left: 35%;
	width: 30%;
}
.underline{
	text-decoration: underline;
}

a{ 
 text-decoration:none; 
}

li[class="jeune"]{
	background-color: rgb(240, 93, 106);
}

#myTable{
    padding-left: 125px;
}

#taille1{
	color: rgb(240, 93, 106);
	font-size: 500%;
	position:relative;
	float: right;
	padding-right: 50px;
}
#taille2{
	font-size: 250%;
	padding-bottom: 10px;
}

.jeune{
	background-color: rgb(240, 93, 106);
	color: white;
}
.referent{
	color: green;
}
.consultant{
	color: rgb(71, 141, 255);
}
.partenaires{
	color: rgb(90, 93, 95);
}
.center{
	text-align: center;
}
.liste{
	margin-left: 50px;
	text-align: center;
}
.bouton{
	padding: 5px;
}
.red{
    color: red;
}
.long{
    width: 600px;
}
.marge{
    margin-left: 10px;
}
.description{
	margin-left: auto;
  	margin-right: auto;
	border: 1px solid deeppink;
}
  
#etre{
	color: deeppink;
	font-size: large;
}
#je_suis{
	background-color: deeppink;
	font-size: large;
}
#asterisque{
	color: deeppink;
	font-size: small;
}
#global{
	display: flex;
	justify-content: space-between;
}
#first{
	align-self: flex-start;
	margin-left: 20%;
}
#second{
	position: relative;
}
#savoir_etre{
	background-color: rgba(255, 223, 228, 0.74)
}

/* The container */
.container {
	display: block;
	position: relative;
	padding-left: 28px;
	margin-bottom: 9px;
	cursor: pointer;
	font-size: 15px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
	position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
	border: 1px solid pink;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
	background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
	background-color: deeppink;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }