table[class="bandeau"]{
	width: 100%;
	background-color: lightgray;
	color: white;
}
table{
	border-collapse: collapse;
}
td[class="marge"]{
	padding: 50px;
	border-top-style: solid;
	border-bottom-style: solid;
}
td.marge:first-child{
	border-left-style: solid;
}
td.marge:nth-child(3n){
	border-right-style: solid;
}

.deconnexion{
	position:relative;
	float: right;
}

li[id="bandeau"]{
	padding: 10px;
	background-color: lightgray;
	display: inline;
}
div[class="navbar"]{
	text-align: center;
}

a{ 
 text-decoration:none; 
}

li[class="jeune"]{
	background-color: rgb(240, 93, 106);
}


#taille1{
	color: rgb(240, 93, 106);
	font-size: 500%;
	position:relative;
	float: right;
	padding-right: 50px;
}
#taille2{
	font-size: 250%;
	padding-bottom: 10px;
}

.jeune{
	color: rgb(240, 93, 106);
}
.referent{
	color: green;
}
.consultant{
	background-color: rgb(71, 141, 255);
	color: white;
}
.partenaires{
	color: rgb(90, 93, 95);
}
.center{
	text-align: center;
}
.back{
	background-image:linear-gradient(90deg,rgb(71, 141, 255)2%,white);
}
.liste{
	margin-left: 50px;
	text-align: center;
	
}
.bouton{
	padding: 5px;
}
.comment{
	overflow-wrap: break-word;
	overflow-inline: auto;
	max-width: 425px;
}