table[class="bandeau"]{
	width: 100%;
	background-color: lightgray;
	color: white;
}

li[id="bandeau"]{
	padding: 10px;
	background-color: lightgray;
	display: inline;
}
div[class="navbar"]{
	text-align: center;
	margin-right: 22%;
}

.deconnexion{
	position:relative;
	float: right;
}

li{
	padding: 10px;
	background-color: lightgray;
	display: inline;
}
ul{
	margin-left: 400px;
}

a{ 
 text-decoration:none; 
}

#taille1{
	color: lightgray;
	font-size: 500%;
	position:relative;
	float: right;
	padding-right: 50px;
}
#taille2{
	font-size: 250%;
	padding-bottom: 10px;
}

.jeune{
	color: rgb(240, 93, 106);
}
.referent{
	color: green;
}
.consultant{
	color: rgb(71, 141, 255);
}
.partenaires{
	color: rgb(90, 93, 95);
}
  